/* components/ProfileCard.module.css */
.profileCard {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

.profileImage {
    width: 60px; /* Ukuran gambar */
    height: 60px; /* Ukuran gambar */
    border-radius: 50%; /* Bentuk bulat */
    object-fit: cover; /* Memastikan gambar tidak gepeng */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* Shadow */
}